<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id = "myAnimal"
          class = "com.manasia.curs2.Dog">
        <constructor-arg ref = "groomingService"/>

    </bean>
    <bean id = "animalName"
          class = "com.manasia.curs2.Mouse">
        <constructor-arg value="Jerry"/>
    </bean>
    <bean id = "groomingService"
          class = "com.manasia.curs2.GroomingService">
    </bean>

    <bean id = "catAnimal"
          class = "com.manasia.curs2.Cat">
        <property name="grooming" ref="groomingService"/>

    </bean>

</beans>